.form-wrapper {
  padding-bottom: 30px;
}

.form-color-theme .title {
  color: rgb(51,151,135);
}

.form-color-theme .btn {
  background-color: rgb(51,151,135);
  color: #fff;
}

.label-text {
  margin-left: 22px;
}

.field-wrapper-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
