<div class="wrapper">
  <div class="wrapper-logo">
    <img src="/assets/res/image/login-logo.png" width="90" height="90" alt="">
  </div>
  <p class="text-center">
    Вход в сиситему
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input id="login" formControlName="login" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Логин">
    </div>
    <div class="form-group">
      <input id="password" formControlName="password" type="password" class="form-control" placeholder="Пароль">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
    </div>
    <button class="btn btn-primary btn-submit" type="submit" [disabled]="form.invalid">Войти</button>
    <p></p>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
              ngbPopover="Логин и пароль брать у системного администратора"
              popoverTitle="">
        Помощь
      </button>
    </div>
  </form>

  <p></p>

  <div class="alert alert-danger" role="alert" *ngIf="errorCurrentText.length > 0">
    {{errorCurrentText}}
  </div>

</div>
