<div class="container-fluid">
  <div class="row form-item">
    <div class="col-12 d-flex justify-content-between">
      <button class="btn btn-primary" (click)="addTd()">Добавить</button>
      <button class="btn btn-primary" (click)="removeTdAll()">Удалить все</button>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th *ngFor="let thItem of parameters.th" scope="col" [width]="thItem.width">
      {{thItem.text}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tdItem of dataTemplate">
    <td>{{tdItem.id}}</td>
    <td>
      <div *ngFor="let tdItemListIem of parameters.th[1].list" class="form-item-sm">
        <label>{{tdItemListIem.text}}</label>
        <input type="text" class="form-control">
      </div>
    </td>
    <td>
      <textarea class="form-control" rows="10"></textarea>
    </td>
    <td>
      <button class="btn btn-primary btn-block" (click)="removeTd(tdItem.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
