.wrapper-form-message {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100px;
}
.form-message {
  display: none;
  z-index: 100;
}

.wrapper-form-message.sticky-top {
  position: fixed;
  top: 30px;
}
