.wrapper-page {
  //position: fixed;
  padding: 30px;
  width: 100%;
  min-height: 100%;
}

.form-color-theme .title {
  color: rgb(51,151,135);
}

.form-color-theme .btn {
  background-color: rgb(51,151,135);
  color: #fff;
}
