<div [formGroup]="form">
  <!--hidden-->
  <input type="hidden" [formControlName]="parameters.formControlNameHidden.parent">
  <!--hidden-->
</div>
<div [formGroup]="formHidden">
  <p>{{parameters.options.listLabel.main}}</p>
  <div class="row form-item">
    <div class="col-8">
      <div class="btn-container">
        <div class="form-control">{{valueMain}}</div>
        <!--hidden-->
        <input type="hidden" [formControlName]="parameters.formControlNameHidden.main">
        <!--hidden-->
        <button type="button" class="btn btn-default btn-danger btn-right" (click)="removeMain(idMain)">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="open(content, 'main')">Добавить</button>
    </div>
  </div>
  <p>{{parameters.options.listLabel.other}}</p>
  <div class="row">
    <div class="col-8">
      <div *ngFor="let key of objectKeys(dataSelected)">
        <div class="btn-container form-item">
          <div class="form-control">
            {{dataSelected[key].name_last}} {{dataSelected[key].name_first}} {{dataSelected[key].name_patronymic}}
          </div>
          <button type="button" class="btn btn-default btn-danger btn-right" (click)="removeOther(dataSelected[key].id)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </div>
      <!--hidden-->
      <input type="hidden" [formControlName]="parameters.formControlNameHidden.other">
      <!--hidden-->
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="open(content, 'other')">Добавить</button>
    </div>
  </div>
</div>
<div [formGroup]="formModal">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{modalTitle}}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" *ngFor="let text of parameters.options.head">
            {{text}}
          </th>
        </tr>
        </thead>
        <tbody *ngIf="data">
        <tr *ngFor="let key of objectKeys(data)" (click)="select(data[key].id)">
          <td>
            <div *ngIf="modalOwner === 'main'">
              <div class="custom-control custom-radio">
                <input type="radio"
                       [formControlName]="parameters.formModalControlName.main"
                       [value]=data[key].id
                       id="{{parameters.formModalControlName.main + '_' + data[key].id}}"
                       class="custom-control-input" checked="">
                <label class="custom-control-label"
                       for="{{parameters.formModalControlName.main + '_' + data[key].id}}">
                </label>
              </div>
            </div>
            <div *ngIf="modalOwner !== 'main'">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked=""
                       formControlName="{{parameters.formModalControlName.other + '_' + data[key].id}}"
                       [value]=data[key].id
                       id="{{parameters.formModalControlName.other + '_' + data[key].id}}" >
                <label class="custom-control-label"
                       for="{{parameters.formModalControlName.other + '_' + data[key].id}}">
                </label>
              </div>
            </div>
          </td>
          <td>
            {{data[key].name_last}} {{data[key].name_first}} {{data[key].name_patronymic}}
          </td>
          <td>
            {{data[key].position}}
          </td>
          <td>
            {{data[key].department}}
          </td>
          <td>
            {{data[key].submissionLevel}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Применить</button>
    </div>
  </ng-template>
</div>
