input.ng-invalid.ng-touched {
  border-color: red;
}

.link {
  color: #93C54B !important;
  text-decoration: none;
  background-color: transparent;
}
.link:hover {
  color #6b9430 !important;
  text-decoration: underline !important;
  cursor pointer !important;
}


.form-fields-group-wrapper {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
}

.form-item {
  margin-bottom: 15px
}
.form-item-sm {
  margin-bottom: 10px
}
.form-item-xs {
  margin-bottom: 5px
}
