input.ng-invalid.ng-touched {
  border-color: red;
}

.link {
  color: #93C54B !important;
  text-decoration: none;
  background-color: transparent;
}
.link:hover {
  color #6b9430 !important;
  text-decoration: underline !important;
  cursor pointer !important;
}
