html, body {
  height 100vh
}

input.ng-invalid.ng-dirty {
  border-color: red;
}
textarea.ng-invalid.ng-dirty {
  border-color: red;
}

.link {
  color: #93C54B !important;
  text-decoration: none;
  background-color: transparent;
}
.link:hover {
  color #6b9430 !important;
  text-decoration: underline !important;
  cursor pointer !important;
}


.form-fields-group-wrapper {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
}

.form-item {
  margin-bottom: 15px
}
.form-item-sm {
  margin-bottom: 10px
}
.form-item-xs {
  margin-bottom: 5px
}

.message.error {
  color: #d9534f;
  font-weight: bold;
}

.table {
  margin-bottom: 0;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.selectedmonth .monthvalue, .yearvalue.markcurryear, .selectedday .datevalue {
  height: 100%
  display flex
  align-items center
  justify-content center
  background-color: #325D88 !important
  color #fff
}

.form-control:disabled, .form-control[readonly] {
  background-color transparent
}

button:active,
button:focus {
  outline none;
  box-shadow:none;
}

.modal-content .modal-header,
.modal-content .modal-footer {
  border none !important
}
