.btn-container {
  display flex
  position relative
}

.btn-container button {
  position absolute
  right 0
}

.btn-middle {
  border-radius 0px
}

.btn-right {
  border-top-left-radius 0px
  border-bottom-left-radius 0px
}

.btn-icon {
  width: 20px
  height 20px
}

input {
  height calc(1.5em + 0.75rem + 3px)
}

