.wrapper {
  padding: 30px;
  width: 320px;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
}

.wrapper-page {
  position: fixed;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-logo {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.btn-submit {
  width: 100%;
}

button {
  margin: 0 !important;
}
